
/* Global styles 
------------------------*/
html {
    box-sizing: border-box;}
    *, :before, *:after {
        box-sizing: inherit;
    }
body { 
    color: #162a53;
    font-family:'Poiret One', cursive;
    font-size: 15px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
p {
    font-family:'Poiret One', cursive; 
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #f7f4ec;
}
a:hover {
    text-decoration: none;
} 
h1 {
    font-size: 70px;
    text-shadow: 4px 4px 4px #0f0c29 
}
h2 {
    font-size: 50px;
}
h1,h2 {
    font-family:'Lobster', cursive;
    margin: 0
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
/* Profile 
------------------------*/
.text-center {
    text-align: left
}
header {
    background: #162a53;
    color:#f7fff7;
}

/* Projects
------------------------*/
.projects{
    background: #f7fff7;
}
.projects a {
    color:#162a53;
}
.projects .btn {
    color: #f7fff7;
    background: #162a53;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(47,48,97,80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #162a53;
    padding: 25px 0;
    text-align: left;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0; 
    font-family:'Poiret One', cursive;
}

/* Work Experience
------------------------*/
.work-experience {
    background: #A1c6d7;
    text-align: left;
    font-family:'Poiret One', cursive;
    line-height: 1.5;
}
/* Education
------------------------*/
.education {
    font-family:'Poiret One', cursive;
    line-height: 1.5;
    text-align: left;
}

/* Contact
------------------------*/
footer {
    background:#343434;
    color:#f7fff7;
    text-align: left;
    font-family:'Poiret One', cursive;
    line-height: 1.5;
}